
version: 2.1



jobs:

  build:
   
    docker:
      - image: cimg/base:stable
   
    steps:
      - checkout

      - run: npm i 
      - run:  npm run lint
  
  test:
   
    docker:
      - image: cimg/base:stable
   
    steps:
      - checkout
     
      - run: npm i 
      - run:  npm run lint
  
  analyze :
   
    docker:
      - image: cimg/base:stable
   
    steps:
      - checkout
      
      - run:  npm audit

  
workflows:

  pipeline:

    jobs:

      - build

      - test:
          requires:
            - build

      - analyze:
          requires:
            - test
      




