
version: 2.1



jobs:

  build:
   
    docker:
      - image: cimg/base:stable
   
    steps:
      - checkout
      - save_cache:
          key: "npm-packages"
          paths:
            - /

      - run: npm i 
      - run:  npm run lint
  
  test:
   
    docker:
      - image: cimg/base:stable
   
    steps:
      - checkout
      - restore_cache:
          keys:
            - "npm-packages"
      - run: npm i 
      - run:  npm run lint
  
  analyze :
   
    docker:
      - image: cimg/base:stable
   
    steps:
      - checkout
      
      - run:  npm audit

  
workflows:

  pipeline:

    jobs:

      - build

      - test:
          requires:
            - build

      - analyze:
          requires:
            - test
      




